.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: #3498db;
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.messageInfos {
  display: flex;
  width: 57%;
  display: flex;
  justify-content: space-between;
}

.myMessageInfos {
  margin-left: auto;
}

.receivedMessageInfos {
  margin-right: auto;
}

.receivedUsername {
  width: 55%;
  margin: 0;
  padding: 0.1rem 0.5rem;
  color: gray;
  font-size: 0.8rem;
}

.myUsername {
  width: 55%;
  margin: 0;
  padding: 0.1rem 0.5rem;
  color: gray;
  font-size: 0.8rem;
}

.message-time {
  padding: 0.1rem 1rem;
  margin: 0;
  color: gray;
  font-size: 0.8rem;
}

.received-message-time {
  margin: 0.1rem 0rem;
}
